.displayGrid{
    width: 100%;
    display: block;
    margin: 1em auto;

}

.wrapper{
    width: 75%;
    background-color: #4a4a4a;
    border: solid 0.3em #4a4a4a;
    color: white;
    border-radius: 0.5em;
    margin: auto;
}

.button{
    width:25%;
    justify-content: center;
    border-radius: 0.5em;
}

.label{
    display: flex;
    justify-content: center;
}

.validateError{
    display: flex;
    justify-content: center;
    color: red;
}

